<div class="nested-fields">
  <div class="field">
    <div class="form-group">
      <label>start time</label>
      <%= f.time_field :start_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>end time </label>
      <%= f.time_field :end_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>day</label>
      <%= f.date_field :day, class: "form-control" %>
    </div>
    <div class="remove_course_benefit">
      <%= link_to_remove_association "remove", f %>
    </div>
  </div>
</div>
